## Obtenci√≥n geolocalizaci√≥n de las ciudades

üó∫üåè A continuaci√≥n, obtendremos la geolocalizaci√≥n de cada una de las ciudades mediante geopy.

‚ùï El objetivo principal es lograr extraer la latitud y longitud de cada ciudad.

In [3]:
import pandas as pd
from geopy.geocoders import Nominatim

import sys
sys.path.append('../')
import src.funcioneslocalizacion as fl

pd.options.display.max_columns = None

In [4]:
calid_city = pd.read_csv('../data/ciudades.csv', index_col = 0)
calid_city.head(2)

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Amsterdam,1,1858.0,1.92,20.4,81.2,31.0,1434.0,7.44,422,1048,34.90
1,Sydney,2,2636.0,1.48,29.0,82.1,27.0,1712.0,7.22,406,1103,41.66

1Ô∏è‚É£ Empleamos la funci√≥n de geopy para obtener la latitud y longitud de cada ciudad.

In [5]:
sc = fl.sacar_coord

In [6]:
geo_ciud = pd.DataFrame(calid_city['City'].apply(sc))

In [5]:
geo_ciud.head(2)

                         City
0     (52.3727598, 4.8936041)
1  (-33.8698439, 151.2082848)

2Ô∏è‚É£ Una vez obtenida la geolocalizaci√≥n, separamos en dos columnas independientes la latitud y la longitud mediante sus respectivas funciones. Esto nos permitir√° realizar posteriormente el mapa de manera m√°s sencilla.

In [7]:
lat = fl.sacar_latitud

In [8]:
geo_ciud["latitud"] = geo_ciud["City"].apply(lat)

In [9]:
long = fl.sacar_longitud

In [10]:
geo_ciud["longitud"] = geo_ciud["City"].apply(long)

3Ô∏è‚É£ De este modo, obtenemos un csv con las coordenadas de la ciudad y su latitud y longitud correspondientes.

In [11]:
geo_ciud.head(2)

                         City    latitud    longitud
0     (52.3727598, 4.8936041)  52.372760    4.893604
1  (-33.8698439, 151.2082848) -33.869844  151.208285

4Ô∏è‚É£ Por √∫ltimo, a√±adimos este csv al inicial limpio que hemos obtenido en el jupyter de limpieza csv, por lo que el resultado final ser√° un csv con la informaci√≥n completa de las ciudades: caracter√≠sticas y geolocalizaci√≥n.

In [14]:
calid_city['Coordinates'] = geo_ciud['City']

In [15]:
calid_city['Latitude'] = geo_ciud['latitud']

In [16]:
calid_city['Longitude'] = geo_ciud['longitud']

In [17]:
calid_city.head(2)

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City),Coordinates,Latitude,Longitude
0,Amsterdam,1,1858.0,1.92,20.4,81.2,31.0,1434.0,7.44,422,1048,34.90,"(52.3727598, 4.8936041)",52.372760,4.893604
1,Sydney,2,2636.0,1.48,29.0,82.1,27.0,1712.0,7.22,406,1103,41.66,"(-33.8698439, 151.2082848)",-33.869844,151.208285

In [18]:
calid_city.to_csv('../data/calidad_ciudades.csv')

In [19]:
geo_ciud.to_csv('../data/coord_ciudades.csv')